.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				
				%h1 Edit pin
			.panel-body
				.current_image
					%strong.center Image:
					%br/
					=image_tag @pin.image.url(:medium)
				= render 'form'